.carousel-indicators {
	position: static;
	margin: 10px auto;
	overflow-x: scroll;
	overflow-y: hidden;
	white-space: nowrap;
}
.carousel-indicators li {
	height: auto;
	width: auto;
	text-indent: 1;
	cursor: pointer;
	opacity: 0.5;
}
.carousel-indicators li:hover {
	opacity: 0.8;
	transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
}
.carousel-indicators li img {
	height: 75px;
	width: 75px;
}

.carousel-indicators .active {
	opacity: 1;
	height: auto;
	width: auto;
}

.carousel-inner>.item>img {
	max-height: 500px;
	margin: 0 auto;
}
.carousel-control.left{
	background-image: -webkit-linear-gradient(left,rgba(0,0,0,.1) 0,rgba(0,0,0,.0001) 100%);
	background-image: -o-linear-gradient(left,rgba(0,0,0,.1) 0,rgba(0,0,0,.0001) 100%);
	background-image: -webkit-gradient(linear,left top,right top,from(rgba(0,0,0,.1)),to(rgba(0,0,0,.0001)));
	background-image: linear-gradient(to right,rgba(0,0,0,.1) 0,rgba(0,0,0,.0001) 100%);
}
.carousel-control.right{
	background-image: -webkit-linear-gradient(left,rgba(0,0,0,.0001) 0,rgba(0,0,0,.1) 100%);
	background-image: -o-linear-gradient(left,rgba(0,0,0,.0001) 0,rgba(0,0,0,.1) 100%);
	background-image: -webkit-gradient(linear,left top,right top,from(rgba(0,0,0,.0001)),to(rgba(0,0,0,.1)));
	background-image: linear-gradient(to right,rgba(0,0,0,.0001) 0,rgba(0,0,0,.1) 100%);
}

